<!-- <div *ngIf="post">
    <ul>
      <li> Dirección: {{post.address}} </li>
      <li>Asunto: {{post.subject}} </li>
      <li> Post: {{post.content}} </li>
      <li> Is resolve {{post.isResolve}}</li>
      Photo:
     <li>  <img src="{{post.photo}}" alt="" width="250"> </li>
    </ul>
    <div *ngIf="sessionService.user">
    <div *ngIf="sessionService.user.isAdmin">
    <button (click)="editPost()">POST RESUELTO</button>
  </div>
</div>
</div> -->
<div class="detail">
<div class="container">
<div *ngIf="post">
<div class="col s12 m7">
    <h2 class="header">{{post.subject}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{post.photo}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <i>{{post.date | date}}</i>
          <b>Address: </b> <p>  {{post.address}}</p>
          <b>Subject: </b> <p>  {{post.subject}}</p>
          <b>Content: </b> <p>  {{post.content}}</p>
     
        </div>
        <!-- <div class="card-action">
          <p>Status, is Resolve?: {{post.isResolve}}</p>
        </div> -->
        <div *ngIf="sessionService.user">
            <div *ngIf="sessionService.user.isAdmin">
            <button (click)="editPost()" class="waves-effect waves-light btn" >RESOLVED</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>