agm-map {
  height: 60vh;
  width: 70%;
  position: fixed;
}

.principal {
  width: 100%;
  text-align: center;
  font-size: 1.7vh;
}
.row {
  background-color: white;
}
body {
  background-color: #a5d6a7;
}
.container {
  padding: 10%;
  
}

html {
  padding: 50px 0px;
}
.btn, .logout {
  padding: 0;
  background-color: #8bc34a
}

/* .scroll {
  overflow: scroll;
} */
