
<h1> POSTS</h1>
<div *ngIf="posts">
        
    <div *ngFor="let post of posts">
        <div *ngIf="!post.isResolve">
    {{post.date | date}}
    Subject: 
    <ul> 
<li> {{post.subject}} </li>
</ul>
Address:
<ul>
<li>{{post.address}}</li>

</ul>
<a [routerLink]="['/post/detail', post._id]">Details</a>
</div>
</div>
<div *ngIf=!sessionService.user>
    Login or signup to add a post
    <a [routerLink]="['/auth/signup']">Signup or Login</a>

</div>
</div>
<div *ngIf=sessionService.user> 

    <button (click)="logout()"> logout </button>
    <a [routerLink]="['/post/new']">Add a post </a>
    <a [routerLink]="['/auth/private']"> My profile </a>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>
      </agm-map>

   