
<div class="principal">
<div class="container">
<form (ngSubmit)="postNew(resetForm)" #resetForm="ngForm">
    <fieldset>
  Address:
  <input [(ngModel)]="postInfo.address" name="address">
  <br>
  Subject:
  <input [(ngModel)]="postInfo.subject" name="subject">
  <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" id="file_upload" #myInput>
      </div>
    <div class="file-path-wrapper"> 
        <input class="file-path validate" type="text" placeholder="Upload one file">
            </div>
    </div>
  Content:
  <textarea [(ngModel)]="postInfo.content" name="content" class="materialize-textarea" data-length="120" > </textarea>


  <button class="btn">New Post</button>
</fieldset>
</form>
</div>
</div>
<p> {{ feedback }} </p>

