<p>
  postNew works!
</p>
<form (ngSubmit)="postNew(resetForm)" #resetForm="ngForm">
    <fieldset>
  Address:
  <input [(ngModel)]="postInfo.address" name="address">
  <br>
  Subject:
  <input [(ngModel)]="postInfo.subject" name="subject">
  <br>
  Photo:
  <input type="file" name="file" ng2FileSelect [uploader]="uploader" id="file_upload" class="file" #myInput/>
  <br>
  Content:
  <textarea [(ngModel)]="postInfo.content" name="content"> </textarea>


  <button>New Post</button>
</fieldset>
</form>
<p> {{ feedback }} </p>