<div class="principal">
<div class="container">
<form>
  <h2> Signup or Login</h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  <br>
  <label> DNI </label>
  <input type="text" [(ngModel)]="formInfo.dni" name="dni"/>
  <div class="container-btn">
    <div class="signup">
  <button class="waves-effect waves-light btn" (click)="signup()"> signup </button>
</div>
<div class="login">
  <button class="waves-effect waves-light btn" (click)="login()"> login </button>
</div>
</div>
</form>
</div>
</div>

