<!-- <div *ngIf="sessionService.user">
Username:
    {{user.username}}
    <br>
Dni:
{{user.dni}}   
    <div *ngFor="let post of user.posts">
        My posts:
        <ul>
     <li>   {{post.subject}} </li>
     <li><img [src]="post.photo" alt="" width="250"></li>

    </ul>
    </div>
    <div *ngIf="sessionService.user.isAdmin">
            <a [routerLink]="['/post/all']">All posts </a>
          </div>
</div> -->
<div class="principal">
<div class="container">
<div *ngIf="sessionService.user">
    <h3>Hi, {{user.username}} </h3>
       <b> Username: </b> {{user.username}}
       <br>
            
       <b> Dni:  </b>
        {{user.dni}}   
        <div *ngIf="sessionService.user.isAdmin">
                <a [routerLink]="['/post/all']">All posts </a>
              </div>
            <div *ngFor="let post of user.posts">
<ul class="collection with-header">
        <li class="collection-header"><p>{{post.date | date:'medium' }}</p></li>
        <li class="collection-item"> <b> Subject: </b> {{post.subject}}</li>
        <li class="collection-item"> <b> Content: </b> {{post.content}}</li>
        <li class="collection-item"> <b> Is Resolve?: </b> {{post.isResolve}}</li>
        <li class="collection-item"><img src="{{post.photo}}" alt="" width="200"></li>
      </ul>
            </div>
   
                </div>
            </div>